<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
     integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<title>Edotta Task</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
   <a class="navbar-brand" href="#" th:href="@{/}">EDOTTA TASK</a>
        
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
       <!-- --------------------------------------------------------- -->
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')" >                   
          <a class="nav-link" th:href="@{/admin/list}">Users</a>
        </li>
    <!-- ----------------------------------------------------------------- -->
        <li class="nav-item" sec:authorize="hasAuthority('TEAM_LEADER')" >                   
          <a class="nav-link" th:href="@{/projects/addprojects}">Add Projects</a>
        </li>
    <!-- ----------------------------------------------------------------------------->
    
    
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

	<br>
	<br>
	<div class="container">
	<h3>Project List</h3>
	<hr>
		<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr sec:authorize="isAuthenticated()">
				<th>Project Id</th>
				<th>Description</th>
				<th>Start Date</th>
				<th>Development Team</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempProject : ${projects}">
			
				<td th:text="${tempProject.id}" />	
				<td th:text="${tempProject.description}" />	
				<td th:text="${tempProject.startingDate}" />
				<td >
				   <ul class="list-inline" th:each="tempUser : ${tempProject.users}">
				     <li th:text="${tempUser.email}"></li>
				   </ul>
				</td>	
				
				<td>
					<a class="btn btn-info btn-sm" sec:authorize="hasAuthority('TEAM_LEADER')"
					   th:href="@{/projects/edit(projectId=${tempProject.id})}" >
						Update 
					</a>
					<a class="btn btn-info btn-sm" sec:authorize="hasAuthority('TEAM_LEADER')"
					   th:href="@{/projects/viewProject(projectId=${tempProject.id})}" >
						View 
					</a>
					<a class="btn btn-info btn-sm" sec:authorize="hasAuthority('ADMIN')"
					   th:href="@{/projects/viewProject(projectId=${tempProject.id})}" >
						View 
					</a>
					<a class="btn btn-info btn-sm" sec:authorize="hasAuthority('DEVELOPER')"
					     th:href="@{/projects/participateInProject(projectId=${tempProject.id})}"  >
					   
						Participate 
					</a>
					
					
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	</div>


</body>
</html>